html,body {
  height: 100%;
}

.loader-wrapper{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../media/images/DEWI_Logo.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5010;
    visibility: visible;
    position: fixed;
    opacity: 0.8;

}
.loader-background{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5009;
    visibility: visible;
    position: fixed;

}


.snackbar{
    position: absolute;
    z-index:5000;
}
.wrapper {
  position:relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 24.2px;
  margin: -24.2px auto 0;
}

a {
  color: #00B7FF;
}

a.imprint:link, a.imprint:visited, a.nav-link:link, a.nav-link:visited{
  color: black;
}

.nav-link.active {
  font-weight: bold;
  color: black !important;
}

/* if home is not shown */
.nav-link.home.inactive {
  border-top-color: rgb(222, 226, 230) !important;
  border-right-color: rgb(255, 255, 255) !important;
  border-left-color: rgb(222, 226, 230) !important;
  border-bottom: none !important;
}

/* if faq is not shown */
.nav-link.faq.inactive {
  border-top-color: rgb(222, 226, 230) !important;
  border-right-color: rgb(222, 226, 230) !important;
  border-left-color: rgb(255, 255, 255) !important;
  border-bottom: none !important;
}

/* if home and FAQ is not shown */
.nav-link.home.faq.inactive {
  border-color: rgb(222, 226, 230) !important;
  border-bottom: none !important;
}


#list {
  max-height: 80vh;
  overflow: auto;
}

.highlighted {
    background-color: rgba(0, 128, 0, 0.3) !important;
    width: 100%;
}


.avatar {
    width: 55px !important;
    height: 55px !important;
}

.cards {
    width: 100%;
}

.MuiTypography-body2{
    text-align: initial;
    font-size: 40px !important;
}

.icon{
    color: rgb(29, 161, 242);
    font-size: 1.8em;
}

.MuiCardHeader-subheader{
    font-size: 14px !important;
}

.MuiCardHeader-action{
    margin-top: 4px !important;
}

/* ensure that the event selectpicker is always visible in the foreground */
.dropdown.bootstrap-select.show-tick {
  z-index: 1001;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-appearance: none;

    width: 100%;
    height: 10px;
}

progress[value]::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);
            -webkit-animation: animate-stripes 5s linear infinite;
            animation: animate-stripes 5s linear infinite;

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition: width 0.5s;
}

@-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}


progress[value]::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    top,
                    rgba(255, 255, 255, 0.25),
                    rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                    left,
                    #09c,
                    #f44
            );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
