<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/leafletPan/L.Control.Pan.css" />
    <link rel="stylesheet" href="/leafletEasyButton/easy-button.css" />
    <link rel="stylesheet" href="/fontAwesome/css/all.css" />

  </head>
  <body onload="initial()">

    <a href="/">
      <img id="logo" class="img-fluid" src="/images/DEWI_Logo.svg" alt="DEWI Logo" style="padding-right: 15px; padding-left: 10px; margin-bottom: 1%; margin-top: 1%;">
    </a>

    <div class="row">

      <div class="col-md-6" style="margin-top: 20px;">
        <div id="mapWFS" style="height:560px;">
        </div>
        <button type="button" id="newDefaultMapExtent" onclick="myFunction()" style="visibility:hidden">set actual map extent as new default map extent</button>
      </div>

      <div class="col-md-6">
        <div id="tweets">
        </div>
      </div>

    </div>

  </body>
</html>


<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/leaflet/leaflet.js"></script>
<script src="/leafletPan/L.Control.Pan.js"></script>
<script src="/leafletEasyButton/easy-button.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/react/react.development.js"></script>
<script src="/react-dom/react-dom.development.js"></script>
<script src="/material-ui/material-ui.development.js"></script>
<script src="/turf/turf/turf.min.js"></script>

<script src="javascripts/wfsDWD.js"></script>
<script src="javascripts/twitter.js"></script>
<script src="javascripts/control.js"></script>
