<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Twitter Demo</h1>
    <img src="https://trello-attachments.s3.amazonaws.com/5db04f4543b6db4e205eca74/5db050cc3cc62269e46209f6/9a797436aaf2da147aaa14089727342e/DEWI_Logo.jpg" align="right" />
    <div id="tweets"></div>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/react/react.development.js"></script>
<script src="/react-dom/react-dom.development.js"></script>
<script src="/material-ui/material-ui.development.js"></script>
<script src="javascripts/twitter.js"></script>

