<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <textarea id="twitter"></textarea>
    <div id="tweets"></div>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/react/react.development.js"></script>
<script src="/react-dom/react-dom.development.js"></script>
<script src="/material-ui/material-ui.development.js"></script>
<script src="javascripts/twitter.js"></script>

