<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/leafletPan/L.Control.Pan.css" />
    <link rel="stylesheet" href="/leafletEasyButton/easy-button.css" />
    <link rel="stylesheet" href="/fontAwesome/css/all.css" />

  </head>
  <body>
    <h1>Twitter Demo</h1>
    <img src="https://trello-attachments.s3.amazonaws.com/5db04f4543b6db4e205eca74/5db050cc3cc62269e46209f6/9a797436aaf2da147aaa14089727342e/DEWI_Logo.jpg" align="right" />
    <div id="tweets"></div>
  <body onload="initialExtremeWeather()">

    <a href="/">
      <img id="logo" class="img-fluid" src="/images/DEWI_Logo.svg" alt="DEWI Logo" style="padding-right: 15px; padding-left: 10px; margin-bottom: 1%; margin-top: 1%;">
    </a>

    <div id="loader">
      <div id="mapWFS" style = "width:700px; height:560px;"></div>
    </div>

    <button type="button" id="newDefaultMapExtent" onclick="myFunction()" style="visibility:hidden">set actual map extent as new default map extent</button>

  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/react/react.development.js"></script>
<script src="/react-dom/react-dom.development.js"></script>
<script src="/material-ui/material-ui.development.js"></script>
<script src="javascripts/twitter.js"></script>

<script src="/leaflet/leaflet.js"></script>
<script src="/leafletPan/L.Control.Pan.js"></script>
<script src="/leafletEasyButton/easy-button.js"></script>

<script src="javascripts/wfsDWD.js"></script>

