<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <textarea id="twitter"></textarea>
    <button onClick="testTwitter()">Test Twitter</button>
    <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="javascripts/twitter.js"></script>

