<header>
  <div>
    <!-- navigation bar -->
    <ul class="nav nav-tabs">
      <!-- logo -->
      <a class="navbar-brand " href="/">
        <img id="logo" class="img-fluid" src="/images/DEWI_Logo.svg" alt="DEWI Logo" style="padding-right: 10px; padding-left: 15px; margin-bottom: 1%; margin-top: 1%;">
      </a>
      <!-- navigation links -->
      <div style="display: flex;">
        <li class="nav-item" style="align-self: flex-end;">
          <a class="nav-link <% if (title == 'Home') {%>active<% } %>" href="/">Home</a>
        </li>
        <li class="nav-item"  style="align-self: flex-end;">
          <a class="nav-link <% if (title == 'FAQ') {%>active<% } %>" href="/faq">FAQ</a>
        </li>
      </div>
    </ul>

  </div>
</header>
