<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta name="author" content="Jan, Luc, Nick, Phil, Tom"/>
    <meta charset="UTF-8">

</head>

<body>

<h1>Welcome to the DEWI API</h1>
<h5>Extreme weather events</h5>
<p>GET /api/v1/weather/events/dwd</p>
<h5>Get Tweets</h5>
<p>POST /api/v1/social/twitter/posts</p>

<p>For more Information please visit the Documentation on <a
            href="https://github.com/tnier01/DEWI_Geosoft2_WS19-20_huef_jaku_nier_nisk_sten/wiki/API-Specification-II">
        Github</a></p>
</body>
</html>

