<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="author" content="Jan, Luc, Nick, Phil, Tom"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/fontAwesome/css/all.css" />

  </head>

  <body onload="changeIconCollapse(), isHashInUrl()" onhashchange="collapseHash()" data-spy="scroll" data-target="#list-nav" data-offset="150">

    <div class="wrapper">

      <% include partials/header.ejs %>

      <main role="main" class="container-fluid" id="main">

        <div class="row" style="margin-top: 20px; margin-right: 0px; margin-left: 0px; margin-bottom: 44.2px">

          <div class="col-sm-3">
            <div id="list-nav" class="list-group sticky-top" style="margin-bottom: 30px;">
              <a class="list-group-item list-group-item-action" href="#list-item-1">General</a>
              <a class="list-group-item list-group-item-action" href="#list-item-2">URL</a>
              <a class="list-group-item list-group-item-action" href="#list-item-3">Cookies</a>
              <a class="list-group-item list-group-item-action" href="#list-item-1">Weather</a>
              <a class="list-group-item list-group-item-action" href="#list-item-2">Twitter</a>
            </div>
          </div>

          <div class="col-sm-9">

              <div id="accordion">

                <div id="list-item-1" style="margin-bottom: 30px;">
                  <p style="font-weight: bold; font-size: 20px;">General</p>
                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="One">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          What can I do with the application in general?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="One" data-parent="#accordion">
                      <div class="card-body">
                        The DEWI - Direct Extreme Weather Information application is a Web Platform for the representation of social media data in dependency to actual extreme weather events.
                        The main part of the platform is a map on which the user can choose an area of interest.
                        In this area the current extreme weather events and the most recent geotagged twitter posts are shown.
                        The user can click on one of the twitter posts, which are shown as markers in the map and
                        the twitter post fitting to the chosen marker will be highlighted in an overview. This works the other way around.
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Two" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          What is the scope of the application?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="Two" data-parent="#accordion">
                      <div class="card-body">
                        The platform can be used especially by civil protection experts to deliver them additional information in extreme weather situations.
                        The information will support them to manage a possible disaster situation faster and more efficient
                        because they can recognize the strength of the weather event and send corresponding to their recognitions the best help to this location.
                        Therefore, timestamps are provided to all information to get a better overview of the most recent data.
                        Furthermore,the source of data is available, so that the experts can proof if its reliable.
                        This way information concerning the weather event are much earlier available than if journalists
                        and emergency crews first must reach the event, what is the main advantage of the platform
                        compared to the usual procedure.
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Three" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Who are the developers of the application?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="Three" data-parent="#accordion">
                      <div class="card-body">
                        The application was developed by students during the <a href="https://studium.uni-muenster.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=303090&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung" target="_blank">Geosoftware II</a>
                        course in the bachelor program Geoinformatics in the winter term 2019/ 2020 at the Institute for Geoinformatics (<a href="https://www.uni-muenster.de/Geoinformatics/en/" target="_blank">ifgi</a>) of the University of Münster (<a href="https://www.uni-muenster.de/en/" target="_blank">WWU</a>).
                        The source code an further information are available on <a href="https://github.com/tnier01/DEWI_Geosoft2_WS19-20_huef_jaku_nier_nisk_sten/" target="_blank">github</a>.
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Three" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Why does the application use cookies?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="Four" data-parent="#accordion">
                      <div class="card-body">
                        The application requires cookies to keep the data up-to-date in real time without requiring user interaction.
                        Furthermore cookies are used to save user specific default values or rather basic settings.
                        Cookies are not passed on to third parties and are not used for other purposes.
                        The user agrees with this circumstances by starting to use the application.
                      </div>
                    </div>
                  </div>

                </div>

                <div id="list-item-2" style="margin-bottom: 30px;">
                  <p style="font-weight: bold; font-size: 20px;">Weather</p>
                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Five" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFour" id="Four">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          How can I change the map extent?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="Five" data-parent="#accordion">
                      <div class="card-body">
                        You can change the map extent by the "map extent" dropdown:
                        <ul>
                          <li>by "set current" you set the actual map extent as default map extent</li>
                          <li>by "get default map extent" the default map extent is set as the actual map extent</li>
                          <li>by "delete default map extent" you delete your seleted default map extent (and the corresponding cookie - the initial default map extent is now the new default map extent)</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Six" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseFive">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          How can I change the weather events displayed?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="Six" data-parent="#accordion">
                      <div class="card-body">
                        You can change the displayed weather events by the "thunderstorm, wind, ..." dropdown. In dependency
                        if the different weather events are checked, the concerning weather event is displayed in map or not.


                        after you have
                        checked the concerning events in the dropdown next to it lefthand. There is a selection of different
                        weather events which you can select individually, delete individually, select all or delete all.
                        After selecting you have to specify your request with the "weather events" dropdown:
                        <ul>
                          <li>by "set default weather events" you set your selection as the new default weather events</li>
                          <li>by "get default weather events" you set the default weather events as the actual in the map displayed weather events</li>
                          <li>by "delete default weather events" you delete your default weather events (and the corresponding cookie - the initial default weather events are now the new default weather events)</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Six" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Collapsible Group Item #6
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="Six" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>

                <div id="list-item-3">
                  <p style="font-weight: bold; font-size: 20px;">Cookies</p>
                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" id="Seven">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Collapsible Group Item #7
                        </button>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="Seven" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Eight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Collapsible Group Item #8
                        </button>
                      </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="Eight" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>

                  <div class="card" style="margin-top: 5px;">
                    <div class="card-header" id="Nine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      <h5 class="mb-0">
                        <button class="btn btn-link faq-link" style="padding-left: 0px;">
                          <span class="fa fa-plus" style="margin-right: 8px;"></span>
                          Collapsible Group Item #9
                        </button>
                      </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="Nine" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>



          </div>

      </main>

    </div>

    </div>

    <% include partials/footer.ejs %>

    </body>
</html>

<script src="/jquery/jquery.min.js"></script>
<script src="/popper/umd/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="javascripts/faq.js"></script>
